
<h1>New project</h1>
<%= render 'form' %>
<div class="container">
  <div class="row">
      <div class="actions">
        <div class="col-2"></div>
        <div class="col-8"><%= link_to 'Back', projects_path %></div>
      </div>
  </div>
</div>
